
########################################################
# profiling.config
# Author: David Landeros
# Contact: dh.landeros@gmail.com
########################################################

[application]
package_name = com.example.openglapp2
shared_lib_with_symbols = ../../../Example/obj/local/armeabi-v7a/libNative.so
record_options = -g -e cpu-cycles:u -f 400 --duration 30 --dump-symbols

